<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="display-jobs" class="container">

    <table class="job-listing" th:each="jobObject : ${jobs}">
        <tr>
            <td>ID</td>
            <td th:text="${jobObject.getId()}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${jobObject.getName()}"></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td th:text="${jobObject.getEmployer()}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${jobObject.getLocation()}"></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td th:text="${jobObject.getPositionType()}"></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td th:text="${jobObject.getCoreCompetency()}"></td>
        </tr>
    </table>
    </div>

</body>
</html>